In [1]:
import numpy as np     
import collections
import pandas as pd    
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure
from Get_and_Prepare_data import get_prepare
from sklearn.model_selection import train_test_split

In [2]:
test_size,random_state = 0.3,15
df = pd.read_csv('Magic_Telescope_data.csv')

features = df.columns[1:-1]
target = df.columns[-1]
print('\nFeatures: \n',features.values)
print('\nTarget: \n',target,'\n\n')

df.drop(columns=['ID'],inplace=True)

## removing non g/h values from class
print('\n\nRemoving incorrect values from class')
a = df.columns.get_loc('{}'.format(target))
positions=[]
for i in range(1,df.shape[0]):
    if not (df.iloc[i,a] == 'g'or df.iloc[i,a] == 'h'):
        positions.append(i)
print('done')

## removing non float values from features
print('\n\nRemoving non float values from features....')
for i in features:
    a = df.columns.get_loc('{}'.format(i))
    for j in range(1,df['{}'.format(i)].shape[0]):
        if ('{}'.format(df.iloc[j,a]).isalnum() or '{}'.format(df.iloc[j,a]).isalpha()) and (not df.iloc[j,a] ==0) :
            if j not in positions:
                positions.append(j)

## trying to convert strings to float. If an error occurs the position is noted 
objects = []
for i in df.columns:
    if df[i].dtype == 'object' and not i == target:
        if j not in positions:
            objects.append(i)

for i in objects:
    for j in range(df[i].shape[0]):
        try:
            float(df['{}'.format(i)].iloc[j])
        except:
            if j not in positions:
                positions.append(j)
    df['{}'.format(i)] = pd.to_numeric(df['{}'.format(i)],errors='coerce')

print('done\n\nA total of {} rows were removed. Their positions are :\n\n'.format(np.shape(np.unique(positions))[0]),positions)
df.drop(positions,inplace=True)
df.dropna(inplace=True)
df.reset_index(drop=True,inplace=True)
del positions

for c in features: 
    df['{}'.format(c)]= (df['{}'.format(c)] - df['{}'.format(c)].mean())/ df['{}'.format(c)].std()                             # Standardization 
    df['{}'.format(c)]= (df['{}'.format(c)] - min(df['{}'.format(c)]))/ (max(df['{}'.format(c)])-min(df['{}'.format(c)]))      # Normalizing

x = df.loc[:,features]
y= df.loc[:,target]
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=test_size, random_state=random_state,shuffle=True)
y_train,y_test = y_train.values.reshape((y_train.shape[0],1)),y_test.values.reshape((y_test.shape[0],1))
print('\n\nx_train.shape, x_test.shape, y_train.shape, y_test.shape =',x_train.shape, x_test.shape, y_train.shape, y_test.shape)

Features:
 ['fLen0t1:' 'fWidt1:' 'fSize:' 'fConc:' 'fConc1:' 'fAsym:' 'fM3Lon0:'
 'fM3Trans:' 'fAlp1a:' 'fDist:']

Target:
 class




Removing incorrect values from class
done


Removing non float values from features....
done

A total of 77 rows were removed. Their positions are :

 [172, 190, 359, 17889, 17893, 17956, 17990, 18229, 18865, 16364, 11849, 15001, 363, 489, 854, 5654, 2907, 11681, 11688, 621, 631, 707, 1107, 1714, 2080, 2301, 2972, 3169, 4665, 5678, 5689, 6014, 6211, 6659, 6758, 6771, 6922, 6953, 7031, 7342, 7577, 8981, 9168, 9537, 10056, 10673, 10826, 10934, 11139, 11733, 11811, 11865, 12501, 13614, 13989, 14709, 16870, 17124, 17128, 17213, 18013, 18470, 466, 482, 3935, 5251, 8130, 10105, 11680, 11690, 11837, 2917, 11518, 17587, 858, 8215, 8133]


x_train.shape, x_test.shape, y_train.shape, y_test.shape = (13259, 10) (5683, 10) (13259, 1) (5683, 1)

In [4]:
data_test = [
                [23,'cat'],
                [110,'dog'],
                [24,'cat'],
                [15,'dog'],
                [100,'dog'],
                [21,'cat'],
                [90,'dog'],
                [22,'cat'],
                [18,'dog'],
                [50,'dog']
            ]
data_test = pd.DataFrame(data_test,columns=["Height","Class"])   
data_test.head(2)

   Height Class
0      23   cat
1     110   dog

In [5]:
data = df

In [6]:
def unique_values(df,column_name):
    """
    inputs: 
            df - dataframe
            column_name - name of column in df
            
    returns:
            a set consisting of unique values in that column
    """
    return set(df["{}".format(column_name)])

In [7]:
unique_values(data_test,'Class')

{'cat', 'dog'}

In [8]:
def Counter (df):
    lables = df.iloc[:,-1]
    return collections.Counter(lables)

In [9]:
Counter(df)

Counter({'g': 12274, 'h': 6668})

In [10]:
Counter(data_test)

Counter({'cat': 4, 'dog': 6})

In [11]:
class question:
    
    def __init__(self,column_name,value,data):
        
        self.column_name= column_name
        self.value=value  
        self.data = data
        
        if np.issubdtype(data["{}".format(self.column_name)],np.number):
            self.symbol = ">="
        else:
            self.symbol = "=="
    
    def __str__(self):
        return("Is {} {} {}?".format(self.column_name,self.symbol,self.value))
    
    def check(self,row_number):
        '''
         Checks whether the given row_number satisfies the question.
         inputs: row_number
         outputs: boolean 
         '''       
        if(self.symbol == "=="):
            column_number = self.data.columns.get_loc("{}".format(self.column_name))
            if (self.data.iloc[row_number,column_number] == self.value): return True
            else : return False

        if(self.symbol == ">=") :
            column_number = self.data.columns.get_loc("{}".format(self.column_name))
            if (self.data.iloc[row_number,column_number] >= self.value): return True
            else : return False

In [12]:
a=question('fSize:',10,df)
print(a)
a.check(100)

Is fSize: >= 10?

False

In [13]:
b=question("class",'g',df)
print(b)
b.check(68)

Is class == g?

True

In [14]:
def T_F_rows (df,question):
    '''
    Runs a loop and checks all rows and divides them into
    true or false rows.
    input: df,question
    outputs:True_rows.False_rows
    '''
    True_rows,False_rows = [],[]
    for i in range(1,df.shape[0]):
        if question.check(i):
            True_rows.append(i)
        else:
            False_rows.append(i)
    return df.iloc[True_rows,:],df.iloc[False_rows,:]

In [15]:
q = question("fLen0t1:",0.05,df)
print(q)
True_rows,False_rows = T_F_rows(df,q)
print(True_rows)

Is fLen0t1: >= 0.05?
       fLen0t1:   fWidt1:    fSize:    fConc:   fConc1:    fAsym:  fM3Lon0:  \
1      0.082815  0.045727  0.170668  0.587794  0.558601  0.468649  0.623756
2      0.478241  0.530579  0.626818  0.027617  0.027263  0.556215  0.468201
3      0.059212  0.037338  0.117445  0.683714  0.580679  0.469558  0.570630
4      0.214774  0.120603  0.360674  0.345153  0.271003  0.437870  0.632050
5      0.143502  0.082495  0.285985  0.260143  0.198103  0.492464  0.657723
6      0.133265  0.067698  0.322856  0.272531  0.224033  0.451518  0.648790
7      0.068223  0.053668  0.180603  0.466530  0.321677  0.471903  0.617848
8      0.278724  0.181434  0.654258  0.073645  0.057342  0.550034  0.731149
9      0.128764  0.059284  0.188439  0.368906  0.283005  0.467181  0.658931
10     0.177309  0.116663  0.411532  0.266394  0.186398  0.410402  0.682975
12     0.125339  0.088579  0.326079  0.236618  0.179582  0.425412  0.545758
13     0.087599  0.048621  0.163868  0.518809  0.356942  0.426733  0.543244
14     0.170281  0.129128  0.370520  0.516877  0.364647  0.457061  0.522545
15     0.076360  0.087596  0.202395  0.334811  0.257371  0.460763  0.621791
16     0.096669  0.068985  0.297073  0.310717  0.235294  0.438599  0.548693
17     0.127338  0.062535  0.246688  0.371860  0.284042  0.491587  0.640492
18     0.126633  0.073277  0.378593  0.261393  0.222403  0.490910  0.641793
19     0.122633  0.060989  0.206002  0.338220  0.253667  0.456813  0.647262
20     0.264809  0.280370  0.563897  0.073758  0.063269  0.388330  0.708789
21     0.247853  0.085141  0.419101  0.254347  0.245814  0.386322  0.683390
22     0.261437  0.069709  0.322797  0.226276  0.159579  0.387646  0.730395
24     0.251460  0.108959  0.278977  0.343675  0.267151  0.425595  0.698941
25     0.312387  0.113641  0.468717  0.134561  0.100756  0.397615  0.738981
26     0.069559  0.075207  0.205855  0.406751  0.301674  0.465521  0.622912
27     0.067970  0.073745  0.217859  0.471645  0.327604  0.452088  0.614743
28     0.058447  0.038975  0.079302  0.630526  0.498000  0.472263  0.557644
29     0.092348  0.075000  0.183797  0.401750  0.293525  0.472610  0.553359
30     0.140043  0.101294  0.407481  0.205705  0.167432  0.474309  0.650404
31     0.252015  0.104479  0.438143  0.304353  0.260483  0.453362  0.701849
32     0.092869  0.062259  0.267416  0.356404  0.260631  0.458516  0.602709
...         ...       ...       ...       ...       ...       ...       ...
18910  0.270207  0.203318  0.476109  0.123650  0.090087  0.506449  0.723364
18911  0.335531  0.254778  0.556239  0.146267  0.112461  0.388654  0.705244
18912  0.065913  0.028867  0.142224  0.689056  0.561268  0.416248  0.606591
18913  0.084485  0.048915  0.241869  0.475736  0.320640  0.473828  0.625080
18914  0.499424  0.137925  0.398610  0.365723  0.293821  0.286194  0.705566
18916  0.578815  0.261409  0.539799  0.120923  0.099867  0.327859  0.308540
18917  0.192275  0.111486  0.383530  0.218093  0.163432  0.313864  0.692718
18918  0.077455  0.044277  0.148906  0.540857  0.436361  0.452825  0.566105
18920  0.615258  0.295780  0.652365  0.069099  0.054527  0.208507  0.266183
18921  0.509136  0.078760  0.283737  0.313217  0.287005  0.563821  0.780081
18922  0.197252  0.124744  0.379007  0.336629  0.257964  0.392253  0.508187
18923  0.160376  0.138502  0.229568  0.250710  0.176915  0.396266  0.486750
18924  0.322621  0.104653  0.378445  0.196045  0.184324  0.290230  0.710411
18925  0.052245  0.060147  0.234033  0.620070  0.461402  0.436090  0.598176
18926  0.058036  0.044337  0.224364  0.421752  0.279597  0.417688  0.556469
18927  0.059244  0.046411  0.147250  0.514149  0.427915  0.453965  0.602275
18928  0.084457  0.053941  0.160585  0.574043  0.408653  0.408314  0.553964
18929  0.336413  0.054635  0.269870  0.842482  0.612387  0.357844  0.375888
18930  0.391676  0.156653  0.403223  0.117968  0.088754  0.524690  0.439304
18931  0.106819  0.072676  0.263986  0.264916  0.209068  0.466626  0.622695
18932  0.085502  0.041627  0.157569  0.515172  0.404801  0.417077  0.544836
18933  0.228162  0.175492  0.475310  0.173315  0.132909  0.404871  0.676313
18934  0.083523  0.054112  0.261325  0.458916  0.294118  0.427258  0.534353
18935  0.540225  0.298604  0.516233  0.112740  0.098237  0.629317  0.745149
18936  0.118264  0.067690  0.262980  0.312081  0.243443  0.384968  0.522589
18937  0.051838  0.042581  0.199527  0.650756  0.582457  0.457992  0.602182
18938  0.074757  0.026141  0.096363  0.593249  0.412061  0.479112  0.605095
18939  0.215712  0.185389  0.445594  0.146153  0.080901  0.434164  0.653983
18940  0.352326  0.299950  0.606919  0.092397  0.100756  0.448838  0.417922
18941  0.554415  0.206728  0.374926  0.311967  0.227589  0.281277  0.286483

       fM3Trans:   fAlp1a:    fDist: class
1       0.507944  0.070693  0.412679     g
2       0.416540  0.855303  0.516926     g
3       0.515219  0.116126  0.233582     g
4       0.590373  0.051656  0.718582     g
5       0.559201  0.040153  0.479113     g
6       0.561203  0.053256  0.440651     g
7       0.526164  0.009024  0.477163     g
8       0.645708  0.053945  0.499604     g
9       0.516437  0.087520  0.204274     g
10      0.595381  0.110185  0.651073     g
12      0.496644  0.004248  0.358042     g
13      0.512551  0.465982  0.081126     g
14      0.608500  0.092154  0.751167     g
15      0.567892  0.533858  0.430614     g
16      0.563118  0.002823  0.384748     g
17      0.500581  0.430174  0.150200     g
18      0.561744  0.096533  0.363156     g
19      0.565951  0.036130  0.446152     g
20      0.689350  0.184730  0.574841     g
21      0.484997  0.022283  0.609516     g
22      0.572556  0.022661  0.547779     g
24      0.504350  0.049194  0.690343     g
25      0.481786  0.036808  0.591769     g
26      0.558960  0.861726  0.208385     g
27      0.503456  0.298745  0.126409     g
28      0.512345  0.294875  0.372070     g
29      0.570877  0.016904  0.218829     g
30      0.486618  0.249734  0.283885     g
31      0.471295  0.004053  0.749593     g
32      0.564806  0.106579  0.310411     g
...          ...       ...       ...   ...
18910   0.576639  0.246601  0.619998     h
18911   0.341603  0.414356  0.690769     h
18912   0.500062  0.719698  0.374203     h
18913   0.508648  0.391021  0.387038     h
18914   0.508413  0.539612  0.657431     h
18916   0.428472  0.021385  0.428722     h
18917   0.490626  0.533220  0.507225     h
18918   0.575959  0.191092  0.463840     h
18920   0.383762  0.828786  0.522041     h
18921   0.478168  0.321798  0.423986     h
18922   0.550345  0.084801  0.582674     h
18923   0.617650  0.497134  0.205780     h
18924   0.588940  0.104162  0.567690     h
18925   0.578245  0.893875  0.450536     h
18926   0.574232  0.981367  0.541778     h
18927   0.551545  0.392495  0.305070     h
18928   0.501950  0.526456  0.495215     h
18929   0.555735  0.311292  0.679189     h
18930   0.453263  0.312801  0.643545     h
18931   0.500252  0.514204  0.375931     h
18932   0.555744  0.768761  0.241535     h
18933   0.455972  0.175678  0.627754     h
18934   0.562558  0.126321  0.199835     h
18935   0.371425  0.913195  0.570914     h
18936   0.524284  0.871417  0.452270     h
18937   0.541215  0.026927  0.213530     h
18938   0.526076  0.964633  0.498046     h
18939   0.509218  0.336728  0.516377     h
18940   0.368263  0.941182  0.823491     h
18941   0.615354  0.586032  0.548344     h

[16076 rows x 11 columns]

$\large Gini\ Impurity = H= 1 - P(A)^2 - P(B)^2 -\ ...$ 

Where $P(A)$ is the probablity of the class A

In [16]:
def gini(df):
    '''
    Finds the gini impurity of all the classes in a dataframe
    '''
    impurity = 1
    Classes = Counter(df)
    for i in Classes:
        impurity -= (Classes[i]/float(df.shape[0]))**2
    return impurity

In [17]:
gini(df)

0.4562050004079717

$\large\Delta H = H - \frac{m_l}{m}H_l - \frac{m_r}{m}H_r$

Where m denotes training examples.The subscript denotes left and right partitions.

$\large\delta H = H - p_{l}*H_{l}- (1-p_{l})*H_{r}$

In [18]:
def information_gain(entropy,True_rows,False_rows):
#     print(len(True_rows))
    p_l = float(len(True_rows)/(len(True_rows)+len(False_rows)))
    return entropy - p_l* gini(True_rows) - (1-p_l)*gini(False_rows)

In [19]:
q=question('fAlp1a:',0.306681,df)
True_rows,False_rows = T_F_rows(df,q)
info_gain = information_gain(gini(df),True_rows,False_rows)

In [20]:
info_gain

0.08755246905330191

In [21]:
q=question('fWidt1:',0.086736,df)
True_rows,False_rows = T_F_rows(df,q)
entropy = gini (df)
Info = information_gain(entropy,True_rows,False_rows)

In [22]:
Info

0.009015039023171634

In [23]:
def find_best_split(df):
    best_information = 0
    best_question = None
    #ask questions
    for column_name in df:
        uniq_vals = unique_values(df,column_name) # to find all unique values in the column 
        
        for uniq_val in uniq_vals:
            q = question(column_name,uniq_val,df)
            True_rows,False_rows = T_F_rows (df,q)
        
            if len(True_rows) == 0 or len (False_rows) == 0: # if the values isn't capable of dividing the data, continue
                continue

            information = information_gain(entropy,True_rows,False_rows) # get the info_gain,check if it is the greatest, if yes, store the question and the info else continue
            if information> best_information:
                best_information = information
                best_question = q
            
    return best_information, best_information

In [24]:
# df_temp= shuffle(df)
# df_test = df_temp.loc[0:20,['FLength',"Class"]]
# print(df_test)
# q=question("FLength",20,df)
# True_rows,False_rows = T_F_rows(df_test,q)
# entropy = gini(df_test)
# information_gain(entropy,True_rows,False_rows)
find_best_split(df)

KeyboardInterrupt: